* {
    margin: 0;
    padding: 0;
 
    
}

.container {
    display: grid;
    grid-template-areas: 2fr 1fr 3fr 1fr / repeat(5, 1fr);

    
}

.header {
    grid-column: span -1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url("../img/bill.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 24rem;
}

.header span {
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color: red;
    font-size: 3rem;
    color: white;
    
   
}

.title {
    display: flex;
    flex-flow: column;
    grid-row: 2/3;
    grid-column: span -1;
}

.title .text {
    align-self: center;
    text-align: center;
    padding: 2rem;
}

.title .selected_titles {
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    padding-left: 2rem;
    padding-right: 0.5rem;
    background-color: red;
    align-self: start;
    
    margin: 2rem 0;
}

.content {
    display: flex;
    flex-flow: row wrap;
    grid-column: span -1;
    justify-content: center;
    gap: 2rem 2rem;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 2fr 0.25fr;
    grid-template-columns: 1fr 1fr;
}

.footer h2 {
    grid-area: 1/1/2/3;
    background-color: red;
    justify-self: start;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    padding-left: 2rem;
    padding-right: 0.5rem;
    background-color: red;
    align-self: start;
    
    margin: 2rem 0;
}

.footer img {
    grid-area: 2/1/3/2;
    justify-self: end;
    align-self: center;
}

.footer .map_text {
    grid-area: 2/2/3/3;
    display: inline-block;
    justify-self: start;
    margin-left: 1rem;
    white-space: pre-line;
    align-self: center;
}


.f_inline {
    grid-area: 2/1/3/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_text {
    grid-area: 3/1/4/3;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
}
